
/* ................nav bar.............. */

.logo {
  max-width: 25px;
  margin-right: 5px;
}

.bg-red {
  background-color: #d35649;
}

.me-6 {
  padding-right: 60px;
}

.ms-6 {
  padding-left: 70px;
}

.nav-top {
  justify-content: space-between;
}

.nav-link {
  white-space: nowrap;
}

/* ................search section css............. */

.search-container {
  position: relative;
  width: 100%;
}

.s-img {
  width: 100%;
}

.search-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.97;
}

.s-box {
  background-color: #bababf;
  padding: 2%;
  margin: 1%;
  border-radius: 10px;
}

.s-btn {
  width: 100%;
  background-color: #d35649;
}

/* ...............media query section.............. */

/* ...mobile view... */

@media screen and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }

  .ms-6 {
    padding-left: 100px;
  }

  .nav-link {
    padding-top: 20px;
  }
}

/* ...tablet view... */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

/* ...desktop view... */

@media screen and (min-width: 1024px) {
  body {
    background-color: lightgray;
  }
}
